.footer-right {
  z-index: 100;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 25px;
}

.sidebar-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.sidebar-icon .userprofile {
  border-radius: 50%;
  border: #fff 2px solid;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.sidebar-icon .useradd {
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 15px;
}

.sidebar-icon p{
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
.record {
  animation: spinTheRecord infinite 5s linear;
  filter: invert(1);
}

.record img {
  width: 35px;
  height: 35px;
  padding: 5px;;
  border-radius: 50px;
  background-color: #b3afaf;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.share-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.share-popup-content {
  background: #fff;
  color: #000;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.share-popup-content h3 {
  margin-bottom: 15px;
}

.share-popup-content ul {
  list-style: none;
  padding: 0;
}

.share-popup-content ul li {
  padding: 10px;
  margin: 5px 0;
  background: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  float: right;
  cursor: pointer;
}
